html, body{
    overflow-x: hidden;
}
.p,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2,h2{
    font-family:Georgia, 'Times New Roman', Times, serif
}

.tiktok{
    width:100%;
}

a{
    color: white !important;
    text-decoration: none !important;
}